.bar {
    width: 100%;
    height: 600px;
    font-size: 40px;
}
.bar .minibar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-top: 50px;
    flex-wrap: wrap;
    align-items: center;
}
.bar .minibar .card {
    width: 250px;
    height: 18 0px;
    border-radius: 5px;
}
.bar .minibar .card1 {
    background-color: #8a82ff;
}
.bar .minibar .card2 {
    background-color: #fc7c7e;
}
.bar .minibar .card3 {
    background-color: #18d95f;
}
.bar .minibar .card4 {
    background-color: #d1d117;
}
.bar .minibar .card5 {
    background-color: #1adbb8;
}
.bar .minibar .card6 {
    background-color: #8a82ff;
}
.bar .minibar .card7 {
    background-color: #82c3ec;
}
